<!-- Snippet Name: Corner Ribbon | Use Case: Banners, promotions | Description: A corner ribbon. -->
<style>
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}

/* devsnips-qa:quality-bar */
:focus-visible{outline:2px solid #2563eb;outline-offset:2px;}
</style>
<div style="width: 200px; height: 200px; border: 1px solid black; position: relative;">
  <div class="ribbon"><span>Popular</span></div>
</div>
